* {
    box-sizing: border-box; /* Para que o padding e a border não aumentem a largura total */
}

body {
    background-color: rgba(247, 247, 247, 0.616);
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove paddings padrão do body */
    display: flex; /* Flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */    background-color: rgba(247, 247, 247, 0.616);
}

.cabecalho { /* Corrigido para "cabecalho" */
    text-align: center; /* Centraliza o texto dentro do cabeçalho */
    margin: 20px 0; /* Espaçamento acima e abaixo do cabeçalho */
}

.linha-fina {
    height: 0.5px; /* Altura da linha */
    background-color: rgba(214, 214, 214, 0.411); /* Cor da linha */
    width: 100%; /* Largura total */
    margin:20px 10; /* Espaçamento acima e abaixo da linha */
}

#Titulo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    text-align: center;
   
}